*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style-type: none;
}
.share-options {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.share-buttons {
    margin-bottom: 10px;
}

.share-button {
    margin: 0 5px;
}

.copy-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.copy-button:active {
    background-color: #004caf;
}
.copy-button:hover {
    background-color: #0056b3;
}
